# Python cache and bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
db.sqlite3

# Environment settings
.env

# IDE settings and logs
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.bak
*.tmp
*.DS_Store
.vscode/
.idea/
